*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-primary;
	font-size: 1.55rem;
	line-height: 1.45;
	background-color: $color-grey-dark;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
}
