.sign-in {
	.buttons {
		display: flex;

		& > * {
			flex: auto 1 0;
		}

		& > :first-child {
			margin-right: 1.5rem;
		}
	}

	.icon {
		margin-right: 0.8rem;

		path {
			fill: lightgrey;
		}
	}
}
