@import "../../sass/variables.scss";

.chat {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: $color-grey-dark;
	padding: 1.5rem 0.75rem;
	font-weight: 300;
	border-left: 1px solid black;
	border-right: 1px solid black;
	max-height: 92vh;

	&-main {
		flex: auto 1 1;
		margin-bottom: 1rem;
		overflow-y: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 1px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-grey-dark;
		}

		.load-more {
			font-size: 1.4rem;
			border: 1px solid $color-grey-light;
			width: fit-content;
			margin: auto;
			padding: 0.3rem 0.4rem;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}
