@import "../../sass/variables";

.user {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	padding: 1rem 2rem;
	color: lightgrey;
	cursor: pointer;

	.profile-picture {
		margin-right: 1rem;
	}

	&:hover {
		background-color: $color-grey-light;
	}

	&.active {
		background-color: $color-grey-light;
		border-bottom: 1px solid $color-grey-light;
	}
}
