@import "../../sass/variables";

.dropdown-menu {
	background-color: $color-grey-dark;
	border-radius: 5px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
	width: fit-content;
	display: none;

	&.show {
		display: block;
	}
}
