@import "../../sass/variables.scss";

.message-field {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	right: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $color-grey-light;
	border-radius: 7px;
	padding: 0 1.5rem;

	.message-field-input {
		width: 100%;
		height: 3.5rem;
		font-size: 1.6rem;
		font-family: $font-stack-secondary;
		outline: none;
		background-color: inherit;
		border: none;
		color: white;
	}

	::-webkit-input-placeholder {
		color: lightgrey;
	}

	.icon {
		cursor: pointer;
		margin-left: 1.75rem;

		path {
			fill: lightgrey;
		}
	}
}
