@import "../../sass/variables";

.profile-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2.5rem;
	position: relative;

	.profile-picture {
		margin-right: 0.75rem;
	}

	.username {
		font-size: 1.7rem;
	}

	.icon {
		display: none;

		@media screen and (max-width: 500px) {
			display: inline-block;
		}
	}

	.dropdown-menu {
		position: absolute;
		z-index: 5;
		top: 100%;
		right: 0;
	}
}
