@import "../../sass/variables";

.profile-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2.5rem;

	.profile-picture {
		margin-right: 0.75rem;
	}

	.username {
		font-size: 1.7rem;
	}

	.icon {
		path {
			fill: lightgrey;
		}

		margin-left: 1.5rem;
		cursor: pointer;
	}
}
