.profile-picture {
	display: block;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	font-size: 2.2rem;
	color: lightgrey;
	//background-color: $color-grey-dark;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	cursor: pointer;
	//margin-right: 0.75rem;

	img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	&.small {
		height: 2.5rem;
		width: 2.5rem;
	}
}
