@import "../../sass/variables";

.main {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: relative;

	@media screen and (max-width: 1000px) {
		grid-template-columns: 1fr 2fr 0;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 1fr 0 0;
	}

	& > * {
		max-height: $main-height;
	}
}
