@import "./sass/variables.scss";
@import "./sass/resets.scss";
@import "./sass/utilities.scss";
@import "./sass/form.scss";

.app {
	height: 100vh;
	display: grid;
	grid-template-rows: $header-height $main-height;
}
