@import "../../sass/variables";

.message-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.7rem;
	margin-bottom: 1rem;

	& > *:not(:last-child) {
		margin: 0 0.7rem 0 0;
	}

	.profile-picture {
		order: 1;
		// margin: 0 0.5rem 0 0;
	}

	.created-at {
		font-size: 1.35rem;
		color: $color-muted;
		order: 3;
		// margin: 0 0 0 0.7rem;
	}

	.message-control {
		display: flex;
		justify-content: center;
		align-items: center;
		order: 4;
		position: relative;
	}

	.vertical-dot-menu {
		cursor: pointer;
		padding: 0.2rem;
		box-sizing: content-box;
		border-radius: 50%;
		// margin-right: 0.7rem;

		path {
			fill: $color-grey-light;
		}

		&:hover {
			path {
				fill: lightgrey;
			}

			background-color: $color-grey-light;
		}

		&:active {
			path {
				fill: $color-grey-light;
			}

			background-color: $color-grey-dark;
		}
	}

	.dropdown-menu {
		position: absolute;
		top: 120%;
		right: 0;
		z-index: 10;
		display: none;
	}

	&.self {
		justify-content: flex-end;
		& > *:not(:last-child) {
			margin: 0 0 0 0.7rem;
		}

		.message {
			background-color: $color-blue;
			order: 3;
		}

		.profile-picture {
			order: 4;
			// margin: 0 0 0 0.5rem;
		}

		.created-at {
			order: 2;
			// margin: 0 0.7rem 0 0;
		}

		.message-control {
			order: 1;
		}

		.dropdown-menu {
			left: 0;
		}
	}

	&.removed {
		.message {
			border: 1px solid $color-red;
			background-color: transparent;
			color: $color-muted;
		}
	}
}

.message {
	background-color: $color-grey-light;
	font-size: 1.55rem;
	color: white;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
	width: fit-content;
	display: flex;
	align-items: center;
	order: 2;
	max-width: 75%;
}
