@import "../../sass/variables";

.message-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.7rem;
	margin-bottom: 1rem;

	.profile-picture {
		order: 1;
		margin: 0 0.5rem 0 0;
	}

	.created-at {
		font-size: 1.35rem;
		color: grey;
		order: 3;
		margin: 0 0 0 0.7rem;
	}

	&.self {
		justify-content: flex-end;

		.message {
			background-color: $color-blue;
			order: 2;
		}

		.profile-picture {
			order: 3;
			margin: 0 0 0 0.5rem;
		}

		.created-at {
			order: 1;
			margin: 0 0.7rem 0 0;
		}
	}
}

.message {
	background-color: $color-grey-light;
	font-size: 1.55rem;
	color: white;
	padding: 0.5rem 0.7rem;
	border-radius: 5px;
	width: fit-content;
	display: flex;
	align-items: center;
	order: 2;
	max-width: 80%;
}
